name: Deploy Pages

on:
  push:
    branches:
      - main   # change if your default branch is different

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        run: pip install uv

      - name: Install docs dependencies
        run: uv sync --directory docs

      - name: Build MkDocs site
        run: uv run --directory docs mkdocs build --strict --verbose --site-dir ../public

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v2
